<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing: <%= product.name %> </title>
</head>

<body>
    <h1>Edit <%= product.name %> </h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <input type="text" name="name" id="enterProductName" placeholder="Product name" value="<%= product.name%>">
        <input type="number" name="price" id="enterPrice" step='0.01' placeholder="price" value='<%= product.price %>'>
        <select name="category" id="enterCategory">
            <% for (category of categories) {%>
            <option value="<%=category%>" <%=category === product.category ? 'selected' : ''%>><%=category%></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
</body>

</html>